@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .all_content {
        width: 95%;
        padding: 0 1px 0 1px;
        margin: 0 auto;
    }
    .display-mobile {
        display: block;
    }
    .display-desktop {
        display: none;
    }
    .clear-float-mobile {
        clear: both;
    }
    .header {
        height: 130px;
    }
    .header div {
        height: 40px;
    }
    #header_logo {
        height: 45px;
        margin: 5px 1px 0 1px;
        width: 50%;
    }
    #header_contacts {
        display: none;
    }
    #direct {
        display: none;
    }
    #soc_net img {
        height: 40px;
        width: 40px;
    }
    #soc_net {
        margin-top: 10px;
        width: 45%;
        height: 45px;
        margin-left: 5px;
    }
    #myblog {
        width: 45%;
    }
    #phone-mobile {
        display: block;
        font-size: 1.2em;
        margin-top: 3%;
        margin-left: 5%;
    }
    .hr-mobile {
        display: block;
    }
    .btn_myblog {
        margin-top: 1%;
    }
    .quote {
        width: 25px;
        height: 30px;
    }
    #autor_img {
        width: 177px;
        height: 256px;
        position: relative;
        left: -50px;
    }
    #block1_text {
        float: left;
        width: 50%;
        margin-top: 5px;
    }
    .block_video {
        float: none;
        width: 98%;
    }
    .block_video iframe {
        width: 300px;
        height: 167px;
    }
    .block-querty {
        float: none;
        width: 98%;
        height: 430px;
    }
    .querty_content {
        height: 1020px;
    }
    .content2 {
        margin-top: 5px;
    }
    .content2 h1 {
        font-size: 1.2em;
    }
    .div-right {
        float: none;
    }
    .div-grey {
        width: 100%;
        height: 100%;
    }
    #content2-div1 {
        width: 100%;
        height: 100px;
        background-color: #f1f1f1;
        display: flex;
        flex-wrap: wrap-reverse;
        position: relative;
        padding: 103px 0px;
    }
    #left-img1 {
        position: relative;
        top: -90px;
        left: 0px;
        width: 300px;
        height: 10px;
    }
    #left-img1 img {
        width: 298px;
        height: 98px;
        margin-left: 3px;
    }
    .content2-h2-r,
    .content2-h2-l {
        margin: 0 auto;
    }
    .div-right li {
        margin-left: 1%;
    }
    #content2-div2 {
        padding: 15px 0 5px 0;
        height: 500px;
    }
    #right-img2 {
        position: relative;
        top: -160px;
        left: 0px;
        width: 300px;
        height: 160px;
    }
    .div-left {
        float: none;
    }
    #right-img2 img {
        width: 300px;
        height: 150px;
        margin-left: 3px;
    }
    #content2-div3 {
        width: 100%;
        height: 200px;
        background-color: #f1f1f1;
        display: flex;
        flex-wrap: wrap-reverse;
        position: relative;
        padding: 170px 0px;
    }
    #left-img3 {
        position: relative;
        top: 0px;
        left: 0px;
    }
    #left-img3 img {
        width: 298px;
        height: 160px;
        margin-left: 3px;
    }
    #content2-div4 {
        padding: 15px 0 5px 0;
        height: 510px;
    }
    #right-img4 {
        position: relative;
        top: -170px;
        left: 0px;
    }
    #right-img4 img {
        width: 298px;
        height: 160px;
        margin-left: 3px;
    }
    #audit_content_left {
        float: none;
        width: 100%;
    }
    #audit_content_right {
        top: 0px;
        left: 0px;
    }
    #audit_content_left h2 {
        font-size: 1.0em;
        text-align: left;
    }
    .audit_content {
        height: 760px;
        margin: 0 auto;
    }
    .block-querty-text h3 {
        font-size: 1.0em;
    }
    #audit_content_right h2 {
        font-size: 1.0em;
        font-weight: bold;
    }
    .block-querty input[type='submit'] {
        height: 50px;
    }
    .article_heder_left {
        float: none;
        width: 98%;
    }
    .article_heder_left h1 {
        font-size: 1.5em;
    }
    .article_heder_right {
        line-height: 0.9em;
        float: none;
        width: 98%;
    }
    .price {
        margin: 0 auto;
        height: 2280px;
    }
    .price h1 {
        font-size: 1.6em;
    }
    .price1 {
        float: none;
        width: 98%;
        margin-left: 5px;
        /* height: 200px;
        margin: 1px;*/
    }
    .price-sale {
        width: 98%;
        height: 520px;
        margin: 0 auto;
        float: none;
    }
    .price-sale h2 {
        text-align: left;
        font-size: 1.1em;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    #block_autor-img img {
        width: 200px;
        height: 260px;
    }
    .btn {
        /*text-align: center;
        position: relative;*/
        bottom: -40px;
    }
    .yelow-div {
        height: 540px;
        /*border: solid #fae017;
        border-radius: 5px;
        background-color: #fae017;
        margin-top: 100px;*/
    }
    .yelow-div-left {
        width: 98%;
    }
}