body {
    padding: 0;
    margin: 0 auto;
}

#header_logo {
    height: 90px;
    margin: 20px 10px 0 10px;
    width: 20%;
}

#header_logo img {
    width: 98%;
}

#header_contacts {
    line-height: 0.7em;
    margin: 10px 50px 0 50px;
    font-size: 1.1em;
    width: 20%;
}

#phone {
    font-size: 1.5em;
    font-weight: bold;
}

#soc_net img {
    height: 30px;
    width: 30px;
}

#soc_net {
    margin-top: 20px;
    float: left;
    width: 8%;
}

#myblog {
    width: 15%;
}

.btn_myblog {
    background-color: #fae017;
    width: 98%;
    height: 40%;
    border-radius: 10px;
    font-size: 80%;
    font-weight: 600;
    margin-top: 17%;
}

#direct {
    width: 20%;
    float: right;
}

#direct img {
    padding: 0 5% 0 5%;
    width: 35%;
    height: 95%;
}

.header div {
    float: left;
    margin-left: 1%;
}

.header {
    height: 5%;
    width: 90%;
    padding: 0 5% 0 5%;
}

.header div {
    height: 98%;
}